mat-card {
    display: flex;
    flex-direction: column;
}

.container-form {
    display: grid;
    grid-template-areas:    "a a b"
                            "c c c";
    gap: 10px;
}

.amount {
    grid-area: a;
}

.deposit {
    grid-area: b;
}

.withdraw {
    grid-area: c;
}