.container {
    display: flex;
    flex-direction: column;
}

mat-card {
    width: 30vw;
    min-width: 450px;
}

.container-form {
    display: grid;
    grid-template-areas:    "a a b"
                            "c c c";
    gap: 10px;
}

.amount {
    grid-area: a;
}

.deposit {
    grid-area: b;
}

.withdraw {
    grid-area: c;
}